.menú{
  border: solid 2px black;
  position: fixed;
  background: #fdab4b;
  height: 83px;
  width: 800px;
  z-index: 10;
  text-align: center;
  vertical-align: middle;
}

.Menu{
  font: 15px Arial, sans-serif ;
  position: absolute;
  height: 60px;
  text-align: center;
  vertical-align: middle;
}

.logo{
  position: absolute;
  height: 100px;
  width: 700px;
  top: 70px;
  border-right: black;
  text-align: center;
}

.portada{
  position: absolute;
  top: 80px;
  border: solid 3px black;
  height: 400px;
  width: 673px;
  text-align: center;
  vertical-align: middle;
}

.borde1{
  position: absolute;
  top: 500px;
  border: solid 3px black;
  height: 5960px;
  width: 675px;
  
}

.entradas{
  text-align: center;
  vertical-align: middle;
  border: solid 3px red;
  height: 270px;
  width: 650px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.sopas{
  text-align: center;
  vertical-align: middle;
  border: solid 3px blue;
  height: 380px;
  width: 650px;
  position:absolute ;
  top: 295px;
  left: 10px;
}

.ensaladas{
  text-align: center;
  vertical-align: middle;
  border: solid 3px green;
  height: 425px;
  width: 650px;
  position:absolute ;
  top: 690px;
  left: 10px;
}

.carnes{
  text-align: center;
  vertical-align: middle;
  border: solid 3px red;
  height: 490px;
  width: 650px;
  position: absolute;
  top: 1130px;
  left: 10px;
}

.pescados{
  text-align: center;
  vertical-align: middle;
  border: solid 3px blue;
  height: 290px;
  width: 650px;
  position:absolute ;
  top: 1635px;
  left: 10px;
}

.enchiladas{
  text-align: center;
  vertical-align: middle;
  border: solid 3px green;
  height: 320px;
  width: 650px;
  position:absolute ;
  top: 1940px;
  left: 10px;
}

.platillos{
  text-align: center;
  vertical-align: middle;
  border: solid 3px red;
  height: 490px;
  width: 650px;
  position: absolute;
  top: 2275px;
  left: 10px;
}

.tortas{
  text-align: center;
  vertical-align: middle;
  border: solid 3px blue;
  height: 380px;
  width: 650px;
  position:absolute ;
  top: 2780px;
  left: 10px;
}

.especialidades{
  text-align: center;
  vertical-align: middle;
  border: solid 3px green;
  height: 380px;
  width: 650px;
  position: absolute;
  top: 3175px;
  left: 10px;
}

.bebidas{
  text-align: center;
  vertical-align: middle;
  border: solid 3px red;
  height: 590px;
  width: 650px;
  position:absolute ;
  top: 3570px;
  left: 10px;
}

.extra{
  text-align: center;
  vertical-align: middle;
  horizontal-aling: middle;
  border: solid 3px red;
  height: 90px;
  width: 200px;
  position:absolute ;
  top: 4060px;
  left: 235px;
}

.jugo{
  text-align: center;
  vertical-align: middle;
  border: solid 3px blue;
  height: 260px;
  width: 650px;
  position:absolute ;
  top: 4175px;
  left: 10px;
}

.combinados{
  text-align: center;
  vertical-align: middle;
  border: solid 3px green;
  height: 150px;
  width: 650px;
  position:absolute ;
  top: 4275px;
  left: 10px;
}

.especiales{
  text-align: center;
  vertical-align: middle;
  border: solid 3px red;
  height: 560px;
  width: 650px;
  position: absolute;
  top: 4450px;
  left: 10px;
}

.extras{
  text-align: center;
  vertical-align: middle;
  horizontal-aling: middle;
  border: solid 3px red;
  height: 50px;
  width: 360px;
  position:absolute ;
  top: 4930px;
  left: 150px;
}

.desayunos{
  text-align: center;
  vertical-align: middle;
  border: solid 3px blue;
  height: 325px;
  width: 650px;
  position:absolute ;
  top: 5025px;
  left: 10px;
}

.hotcakes{
  text-align: center;
  vertical-align: middle;
  border: solid 3px green;
  height: 300px;
  width: 650px;
  position:absolute ;
  top: 5365px;
  left: 10px;
}

.promo{
  text-align: center;
  vertical-align: middle;
  border: solid 3px red;
  height: 265px;
  width: 650px;
  position:absolute ;
  top: 5680px;
  left: 10px;
}

.galeria{
  background: #fcf4d7;
  border: solid 3px black;
  height: 3400px;
  width: 100%;
  position:absolute ;
  top: 6500px;
}

.datos{
  position: absolute;
  border: 1px solid blue;
  width: 290;
  top: 99%;
  left: 50%;
}